<form action="/" method="post">
    <label> Key
        <input name="key" placeholder="key"/>
    </label>
    <label>Value
        <input name="value" placeholder="value"/>
    </label>
    <input type="submit" value="Submit">
</form>