<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
<body>
    <form method="POST" action="/login">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>